<div class="sign-in">
  <div class="sign-in__transparent">

    <div class="row">
      <div class="col s4 m4 l4"></div>
      <div class="col s4 m4 l4 sign-in__box">
        <div class="sign-up">

          <h2 class="sign-in__title">Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%=f.label :name, class: "grey-text text-lighten-4" %><br />
            <%= f.text_field :name, autofocus: true, class: "grey lighten-4" %>
          </div>

          <div class="field">
            <%= f.label :email, class: "grey-text text-lighten-4" %><br />
            <%= f.email_field :email, autocomplete: "email", class: "grey lighten-4" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "grey-text text-lighten-4" %>
            <% if @minimum_password_length %>
            <span class="sign-up__password-font">(<%= @minimum_password_length %>文字以上)</span>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "grey lighten-4" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "grey-text text-lighten-4" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "grey lighten-4" %>
          </div>

          <div class="">
            <button class="col l12 btn waves-effect waves-light sign-up__button" type="submit" name="action">
              アカウントを登録
              <%= f.submit "" %>
              <i class="material-icons right">forward</i>
            </button>
          </div>
          <% end %>

          <%= link_to new_session_path(resource_name) do %>
          <div class="col l12 btn waves-effect waves-light sign-up__button">
            ログイン画面へ
            <i class="material-icons right">forward</i>
          </div>
          <% end %>

          <%= link_to user_twitter_omniauth_authorize_path do %>
            <div class="col l12 btn waves-effect waves-light  blue lighten-1 sign-in__button">
              <i class="fab fa-twitter"></i>
              <span class="sign-up__button__capitalize">twitterアカウントでログイン</span>
            </div>
          <% end %>

          <%= link_to user_google_oauth2_omniauth_authorize_path do %>
            <div class="col l12 btn waves-effect waves-light  blue darken-4 sign-in__button">
              <i class="fab fa-google"></i>
              <span class="sign-up__button__capitalize">googleアカウントでログイン</span>
            </div>
          <% end %>

<!--           <%= link_to user_facebook_omniauth_authorize_path do %>
            <div class="col l12 btn waves-effect waves-light  blue darken-4 sign-in__button">
              <i class="fab fa-google"></i>
              <span class="sign-up__button__capitalize">facebookアカウントでログイン</span>
            </div>
          <% end %> -->

        </div>
      </div>
    </div>

  </div>
</div>
