<div class="post-index-main">
  <div class="post-index-main__transparent">

  <div class="post-index-grid">

    <% @posts.each do |post| %>
    <div class="post-index-main__body uk-card-small uk-card-default">
      <div class="uk-card-body">
        <%= simple_format(post.body, class: "post-index-main__body__comment") %>
      </div>
      <% post.images.each do |image| %>
      <span uk-lightbox>
        <%= link_to("#{image.image_id}") do %>
          <%= image_tag "#{image.image_id}", width: "150" %>
        <% end %>
      </span>
      <% end %>
      <div class="post-index-main__body__footer uk-card-footer">
        <%= link_to(user_path(post.user), style: "text-decoration: none;") do %>
        <span class="post-index-main__body__footer__name"><%= post.user.name %></span>
        <span class="post-index-main__body__footer__date"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
        <% end %>
        <%= link_to(post_path(post), style: "text-decoration: none;") do %>
        <span class="post-index-main__body__footer__icon" uk-icon="icon: comment"></span>
        <% end %>
        <span class="post-index-main__body__footer__icon-count"><%= post.comments.count %></span>

        <!-- いいね機能 -->
          <%= render partial: "posts/posts", locals: {post: post} %>

        <%= link_to "コメントする", post_path(post), class: "post-index-main__body__footer__icon", style: "text-decoration: none;" %>
      </div>
    </div>
    <% end %>

      <%= paginate @posts %>


  </div>

  <div class="side-grid">

    <div class="side__body uk-card-small uk-card-default">
      <div class="uk-card-body">
        <p class="side__body__comment__next">NEXT MATCH</p>
        <p class="side__body__comment__team">vs 清水エスパルス</p>
        <p class="side__body__comment__date">9月29日（日） 19:00〜</p>
        <p class="side__body__comment__place">@ BMWスタジアム</p>
      </div>
    </div>

  </div>

  </div>

</div>

